#divCanvas {
  position: absolute;
  width: 1000px;
  height: 800px;
}
canvas {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.serverIP {
  position: absolute;
  top: 80px;
  left: 435px;
}

.content {
  position: absolute;
  width: 150px;
  height: 150px;
}
.tip {
  position: absolute;
  left: 15px;
  width: 100px;
  height: 30px;
  border: 1px none greenyellow;
  background-color: greenyellow;
  border-radius: 10px;
  padding-top: 10px;
  font-size: 15px;
  text-align: center;
}
.triangle {
  position: absolute;
  top: 35px;
  left: 20px;
  width: 10px;
  height: 10px;
  background-color: greenyellow;
  border-left: none;
  border-top: none;
  border-right: 1px none greenyellow;
  border-bottom: 1px none greenyellow;
  transform: rotate(45deg);
}
.ipAdd {
  position: absolute;
  top: 130px;
  width: 150px;
  text-align: center;
}
